.vs
ConsoleTestEnvironment/bin
ConsoleTestEnvironment/obj
ConsoleTestEnvironment/Properties
TalkingHeads/bin
TalkingHeads/obj
*.sln
GUI/GUI/bin/Debug
GUI/GUI/obj/Debug
GUI/GUI/obj/Debug
GUI/GUI/bin/Debug
GUI/GUI/obj/Debug
GUI/GUI/obj/Release
GUI/GUI/obj
GUI/GUI.Android/bin/Debug
GUI/GUI.Android/obj/Debug
GUI/GUI.Android/obj
GUI/GUI.iOS/obj
TalkingHeads/Properties/PublishProfiles
TalkingHeads/TalkingHeads.csproj.user
GUI/GUI/bin
GUI/GUI.Android/bin
